<h1>Bienvenidas a MarAiNi´s Chat<h1>

<p>Con esta página lo que queremos es facilitar la información para todos los públicos,
     solucionar la brecha digital en la que incluye falta de accesibilidad a las tecnologías, 
     la falta de conocimientos informáticos que hace que el acceso a oportunidades económicas y 
     educativas se complique. De alguna forma con esta página ayudaremos a que todo el mundo 
     dispongamos de los mismo recursos informaticos y tecnologicos y así incluirlos en la 
     innovacion que poco a poco va apareciendo. :</p> 

<img src="/static/images/imagen.jpg" width="400px">
<img src="/static/images/imagen2.jpg" width="400px">